<{if count($albums) > 0}>
	<div style="float: right; width: auto; height: auto: padding: 15px;" id="pagenav" class="pagenav">
		<{$pagenav}>
	</div>
	<table id="albums" class="albums">
		<tr class="head">
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=album&order=<{$order}>&<{$disgression}>">Album<{if $sort=='album'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}></td>
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=artists&order=<{$order}>&<{$disgression}>">Artists<{if $sort=='artists'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}></td>
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=tracks&order=<{$order}>&<{$disgression}>">Tracks<{if $sort=='tracks'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}></td>
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=hits&order=<{$order}>&<{$disgression}>">Hits<{if $sort=='hits'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}></td>
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=bytes&order=<{$order}>&<{$disgression}>">Bytes<{if $sort=='bytes'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}></td>
			<td style="text-align: center;"><a href="<{$server.php_self}>?sort=totalseconds&order=<{$order}>&<{$disgression}>">Play Time<{if $sort=='totalseconds'}>&nsbp;<{if $order=='DESC'}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/desc.png"/><{else}><img src="<{$xoops_url}>/modules/eightbit/assets/icons/asc.png"/><{/if}><{/if}><td>
		</td>
		<{foreach item=album from=$albums}>
		<tr class="<{cycle values='even,odd'}>">
			<td style="text-align: left;"><a href="<{$album.url}>"><{if strlen($album.album)==0}><em>Album Name Undefined</em><{else}><{$album.album}><{/if}></a></td>
			<td style="text-align: center;"><{$album.artists}></td>
			<td style="text-align: center;"><{$album.tracks}></td>
			<td style="text-align: center;"><{$album.hits}></td>
			<td style="text-align: center;"><{$album.bytes}></td>
			<td style="text-align: center;"><{$album.playtime}></td>
		</tr>
		</foreach}>
	</table>
	<div style="float: left; width: auto; height: auto: padding: 15px;" id="pagenav" class="pagenav">
		<{$pagenav}>
	</div>
<{/if}>